#q2 {
background-image:url("images/hardware.jpg")
}
p {
	color:yellow; font-size:20px; font-family:times new roman;
}
#q4 {
background-image:url("images/softwaree.jpg")
}
#q6 {
background-image:url("images/ccaa.jpeg")
}

h1 {
	color:yellow;
}
#q8 {
background-image:url("images/htmll.png")
}
#q9 {
background-image:url("images/js.png")
}
